<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="270" android:versionName="2.7.0" android:installLocation="internalOnly" package="com.miui.mihome2"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:label="@string/permlab_install_shortcut" android:name="com.android.launcher.permission.INSTALL_SHORTCUT" android:protectionLevel="normal" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:description="@string/permdesc_install_shortcut" />
    <permission android:label="@string/permlab_uninstall_shortcut" android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" android:protectionLevel="normal" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:description="@string/permdesc_uninstall_shortcut" />
    <permission android:label="@string/permlab_read_settings" android:name="com.android.launcher.permission.READ_SETTINGS" android:protectionLevel="normal" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:description="@string/permdesc_read_settings" />
    <permission android:label="@string/permlab_write_settings" android:name="com.android.launcher.permission.WRITE_SETTINGS" android:protectionLevel="normal" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:description="@string/permdesc_write_settings" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <supports-screens android:anyDensity="true" android:normalScreens="true" android:largeScreens="true" />
    <application android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/application_name" android:icon="@drawable/icon_launcher" android:name="com.miui.mihome.MiHomeApplication" android:persistent="true" android:process="@string/process" android:configChanges="locale">
        <activity android:label="@string/application_name" android:icon="@drawable/icon_launcher" android:name="com.miui.mihome.MiHomeMainActivity" android:launchMode="singleInstance" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme" android:label="@string/application_name" android:icon="@drawable/icon_launcher" android:name="com.android.launcher2.Launcher" android:clearTaskOnLaunch="true" android:stateNotNeeded="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="mcc|mnc|keyboard|keyboardHidden|navigation|orientation|uiMode|screenSize|fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.miui.mihome.MiHomeLauncherPartner" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoDisplay" android:name="com.miui.mihome.MiHomeLauncherNodisplayPartner" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <activity android:name="com.miui.mihome.VirtualHomeActivity" android:enabled="false" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/V5.Theme" android:label="@string/menu_launcher_setting" android:icon="@drawable/icon_launcher_settings" android:name="com.android.launcher2.LauncherPreferenceActivity" android:launchMode="singleTask" />
        <activity android:theme="@style/V5.Theme" android:name="com.android.launcher2.LauncherBackupActivity" android:launchMode="singleTask" />
        <activity android:theme="@style/V5.Theme" android:name="com.android.launcher2.LauncherSettingPreferenceActivity" android:launchMode="singleTask" />
        <activity android:theme="@style/V5.Theme" android:name="com.android.launcher2.LockerSettingPreferenceActivity" android:launchMode="singleTask" />
        <activity android:theme="@style/V5.Theme" android:name="com.android.launcher2.RingtoneSettingPreferenceActivity" android:launchMode="singleTask" />
        <activity android:theme="@style/V5.Theme" android:name="com.android.launcher2.LauncherAboutPreferenceActivity" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name="miui.mihome.resourcebrowser.activity.ResourceDetailActivity" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name="com.android.launcher2.gadget.PhotoFramePicker" android:process="@string/photoframe_process" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.miui.home.PHOTO_FRAME_PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name="com.android.launcher2.setting.ShareLauncherActivity" android:process="@string/share_process" android:screenOrientation="portrait" />
        <receiver android:name="com.android.launcher2.InstallShortcutReceiver" android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.XIAOMI.INSTALL_SHORTCUT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher2.UninstallShortcutReceiver" android:permission="com.android.launcher.permission.UNINSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.UNINSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher2.RestoreFinishedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.RESTORE_FINISH" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher2.SMSBroadcastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.pcassistant.StartMihomeBroadcastReceiver">
            <intent-filter>
                <action android:name="miui.intent.extra.MIHOME_START_ACTION" />
            </intent-filter>
            <intent-filter>
                <action android:name="miui.intent.extra.MIHOME_THEME_IMPORT_COMPLETED_ACTION" />
            </intent-filter>
        </receiver>
        <provider android:name="com.android.launcher2.LauncherProvider" android:readPermission="com.android.launcher.permission.READ_SETTINGS" android:writePermission="com.android.launcher.permission.WRITE_SETTINGS" android:authorities="com.miui.mihome.launcher2.settings" />
        <activity android:theme="@style/Theme.Resource.Theme.List" android:label="@string/theme_activity_label" android:icon="@drawable/icon_theme" android:name="com.miui.home.main.ThemeManagerMainActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value="com.android.thememanager.activity.ThemeSearchListActivity" />
        </activity>
        <activity android:theme="@style/Theme.Resource.Theme.List" android:label="@string/theme_activity_label" android:icon="@drawable/icon_theme" android:name="com.android.thememanager.activity.ThemeTabActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <action android:name="android.intent.action.SET_LOCKSCREEN_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK_GADGET" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value="com.android.thememanager.activity.ThemeSearchListActivity" />
        </activity>
        <activity android:theme="@style/Theme.Resource.Theme.List" android:label="@string/mihome_ringtone" android:icon="@drawable/icon_ring" android:name="com.android.thememanager.activity.RingtoneTabActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.RINGTONE_PICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value="com.android.thememanager.activity.ThemeSearchListActivity" />
        </activity>
        <activity android:theme="@style/Theme.Light" android:name="com.android.thememanager.activity.ThemeSearchListActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value="com.android.thememanager.activity.ThemeSearchListActivity" />
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:theme="@style/Theme.Light" android:name="com.android.thememanager.activity.ThemeRecommendListActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Light" android:label="@string/theme_activity_label" android:icon="@drawable/icon_theme" android:name="com.android.thememanager.activity.ThemeDetailActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="application/mtz" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Resource.Theme.Wallpaper" android:name="com.android.thememanager.activity.WallpaperDetailActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Light" android:name="com.android.thememanager.activity.ThemeComponentApplyActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/Theme.Light" android:name="com.android.thememanager.activity.ThirdPartyPickersActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Light" android:label="@string/wallpaper_settings" android:name="com.android.thememanager.activity.WallpaperSettings" android:process="@string/theme_process">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.WALLPAPER_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Light" android:name="com.android.thememanager.comment.ResourceCommentsActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Light" android:name="com.android.thememanager.comment.ResourceCommentEditActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Light" android:name="com.android.thememanager.activity.ApplyThemeForScreenshot" android:process="@string/theme_process">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Light" android:name="com.android.thememanager.view.LockscreenConfigSettings" android:process="@string/theme_process" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/Theme.Light" android:name="com.android.thememanager.view.ThirdAppPicker" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <service android:name="com.android.thememanager.service.ThemeManagerService" android:exported="true">
            <intent-filter>
                <action android:name="miui.mihome.app.resourcebrowser.service.IThemeManagerService" />
            </intent-filter>
        </service>
        <activity android:theme="@style/Theme.Light" android:name="com.android.thememanager.activity.ThemeImportActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:uiOptions="splitActionBarWhenNarrow" />
        <activity android:theme="@*android:style/Theme.Dialog" android:name="com.android.thememanager.activity.PickThemePackageActivity" android:process="@string/theme_process" android:taskAffinity="com.miui.home.main.ThemeManagerMainActivity" android:launchMode="standard" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <receiver android:name="com.android.thememanager.util.ThemeApkReceiver">
            <intent-filter>
                <action android:name="miui.intent.extra.MIHOME_START_THEME_APK_ACTION" />
            </intent-filter>
            <intent-filter>
                <action android:name="miui.intent.extra.MIHOME_THEME_APK_IMPORT_COMPLETED_ACTION" />
            </intent-filter>
        </receiver>
        <activity android:label="@string/app_locker_name" android:icon="@drawable/icon_locker" android:name="com.miui.home.main.MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.miui.home.main.LockHomeKeyActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:name="com.miui.home.main.AppPicker" android:launchMode="standard" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Translucent" android:label="@string/application_name" android:icon="@drawable/icon_launcher" android:name="com.miui.home.lockscreen.LockscreenActivity" android:process="@string/lockscreen_process" android:taskAffinity="com.miui.home.lockscreen.LockscreenActivity" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.LockscreenOpaque" android:label="@string/application_name" android:icon="@drawable/icon_launcher" android:name="com.miui.home.lockscreen.LockscreenActivityOpaque" android:process="@string/lockscreen_process" android:taskAffinity="com.miui.home.lockscreen.LockscreenActivity" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.miui.home.lockscreen.FullscreenActivity" android:process="@string/lockscreen_process" android:taskAffinity="com.miui.home.lockscreen.LockscreenActivity" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.miui.home.lockscreen.FullscreenActivity2" android:process="@string/lockscreen_process" android:taskAffinity="com.miui.home.lockscreen.LockscreenActivity" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.miui.home.lockscreen.LockscreenHelperManager" android:process="@string/lockscreen_process" android:taskAffinity="com.miui.home.lockscreen.LockscreenActivity" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <receiver android:name="com.miui.home.lockscreen.LockscreenAgent" android:process="@string/lockscreen_process">
            <intent-filter>
                <action android:name="com.miui.mihome.intent.action.lockscreen.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.miui.mihome.intent.action.lockscreen.RESUME" />
            </intent-filter>
        </receiver>
        <service android:name="com.miui.home.lockscreen.LockscreenService" android:enabled="true" />
        <receiver android:name="com.miui.home.lockscreen.LsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:name="com.miui.home.resourcebrowser.gallery.CropImageActivity" android:launchMode="standard" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoDisplay" android:name="com.miui.home.lockdevice.InstallActivity" android:exported="true" android:launchMode="standard" />
        <activity android:theme="@*android:style/Theme.NoDisplay" android:name="com.miui.home.lockdevice.OneKeyLockerActivity" android:exported="true" android:launchMode="singleInstance" />
        <receiver android:label="@string/lock_device_admin_label" android:name="com.miui.home.lockdevice.LockDeviceAdminReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN" android:description="@string/lock_device_admin_description">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/lock_device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <activity android:name="com.miui.mihome.versioncheck.GrayVersionCheckerActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <service android:name="com.miui.mihome.versioncheck.GrayVersionCheckerService">
            <intent-filter>
                <action android:name="com.miui.mihome.intent.action.VERSION_CHECK" />
            </intent-filter>
        </service>
        <receiver android:name="com.miui.mihome.versioncheck.ConnectivityChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.miui.mihome.versioncheck.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.Sherlock.Light" android:label="@string/title_mili_center" android:icon="@drawable/ic_milicenter" android:name="com.xiaomi.xmsf.account.ui.WelcomeActivity" android:taskAffinity="com.xiaomi.xmsf.account" android:multiprocess="true" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.Sherlock.Light" android:label="@string/title_mili_center" android:icon="@drawable/ic_milicenter" android:name="com.xiaomi.xmsf.account.ui.LoginActivity" android:taskAffinity="com.xiaomi.xmsf.account" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateVisible" />
        <activity android:theme="@style/Theme.Sherlock.Light" android:label="@string/title_mili_center" android:icon="@drawable/ic_milicenter" android:name="com.xiaomi.xmsf.account.ui.RegisterAccountActivity" android:taskAffinity="com.xiaomi.xmsf.account" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize" />
        <activity android:theme="@style/Theme.Sherlock.Light" android:label="@string/title_mili_center" android:icon="@drawable/ic_milicenter" android:name="com.xiaomi.xmsf.payment.MiliCenterEntryActivity" android:taskAffinity="com.xiaomi.xmsf.payment" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@style/Theme.Dialog" android:name="com.xiaomi.xmsf.payment.PaymentActivity" android:taskAffinity="com.xiaomi.xmsf.payment" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@style/Theme.Sherlock.Light" android:label="@string/title_recharge" android:name="com.xiaomi.xmsf.payment.RechargeActivity" android:taskAffinity="com.xiaomi.xmsf.payment" android:screenOrientation="portrait" />
        <activity android:theme="@style/Theme.Sherlock.Light" android:label="@string/title_mili_center" android:icon="@drawable/ic_milicenter" android:name="com.xiaomi.xmsf.payment.MiliCenterActivity" android:taskAffinity="com.xiaomi.xmsf.payment" android:screenOrientation="portrait" />
        <service android:name="com.xiaomi.xmsf.payment.PaymentService" android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.mihome.xmsf.action.PAYMENT" />
            </intent-filter>
        </service>
        <activity android:name="com.miui.mihome.MiHomeFAQActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:name="com.android.launcher2.gadget.WhiteActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <receiver android:name="miui.mihome.taskmanager.ClearReceiver">
            <intent-filter>
                <action android:name="com.android.mihome.taskmanager.Clear" />
            </intent-filter>
        </receiver>
        <activity android:theme="@*android:style/Theme.NoDisplay" android:name="com.android.thememanager.util.ThemeImportActivity" android:launchMode="singleTask" />
        <activity android:theme="@*android:style/Theme.NoDisplay" android:name="com.android.launcher2.LauncherWaitingActivity" android:launchMode="singleTask" />
        <service android:name="com.miui.bugreport.service.MiHomeFeedbackBackgroundService" android:enabled="true" />
        <receiver android:name="com.miui.bugreport.service.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>